{% include 'usa/header.html' %}
<br>
<div class="contaa">
    <div class="row">
        <div class="col">
            <h3>Welcome to women's world {{request.user}} </h3>
            <div class="list">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                    <br>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn{{active}}">Address</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            {% for ad in add %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Address {{forloop.counter}}:</h3>
                        <p>Name: {{ad.name|capfirst}}</p>
                        <p>Mobile No.: {{ad.Mobile_no}}</p>
                        <pre>Address: {{ad.address|capfirst}}  </pre>
                        <p>Locality : {{ad.locality|capfirst}}</p>
                        <p>City: {{ad.city|capfirst}}</p>
                        <p>zip: {{ad.zipcode}}</p>
                        <br>
                        <input type="submit" value="Remove">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br> {% include 'usa/footer.html' %}