{% include 'usa/header.html' %}
<div class="wrapper">
    <div class="wrapper_content">
        <div class="header_title">
            <div class="title">
                MY SHOPPING CART :
                <h2>You have No Product in Your Cart</h2>
            </div>
        </div>
    </div>

    <div class="wrapper_amount">
        <div class="header_title">
            <div class="title">
                TOTAL PRICE DETAILS:
            </div>
            <div class="amount">
                <b>Rs. 0.00</b>
            </div>
        </div>
        <div class="price_details">
            <div class="item">
                <p>Bag Total :</p>
                <p>Rs.0.00</p>
            </div>


            <div class="item">
                <p>Order Total :</p>
                <p>Rs.0.00</p>
            </div>
            <div class="item">
                <p>Delivery Charges :</p>
                <p><span style="text-decoration: line-through;"></span>Rs.0.00<span class="green"></span></p>
            </div>
            <!-- <div class="coupon">
                    <p>Coupon Discount :</p>
                    <p><a href="#">Apply Coupon</a></p>
                </div> -->
            <div class="total">
                <p>Total :</p>
                <p>Rs.0.00</p>
            </div>
        </div>
        <div class="checkout">
            <a href="#" role="button" class="checkout_btn">Place Order</a>
        </div>
    </div>
</div>
{% include "usa/footer.html" %}