
<div class="conta">
    <div class="row">
     <div class="col">
       <h3>Password Reset Confirm</h3>
     </div>
     <div class="col-sm-8 offset-sm-1">
      <form action="" method="post">
        {% csrf_token %}
         {% for fm in form %}
           <div class="form-group">
             {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
           </div>
         {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
            {% if form.non_field_errors %}
             {% for error in form.non_field_errors %}
               <p>{{error}}</p>
             {% endfor %} 
            {% endif %}
          </div>
         </form>
     </div>
 </div>



