{% include "usa/header.html" %} <br> {% load static %}
<div class="container">
    <div class="row">
        <div class="row-d-flex flex-column">
            <h3>How can I pay for my order at Women's World?</h3>
        </div>
    </div>
    <div class="row">
        <p>
            We support the following payment options at Women's World: <br> <br>1.Cash On Delivery (available in selected pin codes) <br>2.Credit Card <br>3.Debit Card <br>4.Net banking <br>4.UPI
        </p>
    </div>
    <div class="row">
        <div class="row-d-flex flex-column">
            <img src="{% static 'img/pay.png' %}" alt="img">
        </div>
    </div>
</div>

<br> {% include "usa/footer.html" %}