{% include "usa/header.html" %} <br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Shipping Policy:</h2>
        </div>
    </div>
    <div class="row">
        <p>
            1-At Women’s World, we take great care in delivering your products to you, and we partner only with reputed national couriers. Shipping within India is FREE for all orders above Rs. 799. Rs. 99 will be applicable to the orders under Rs. 799/-, and Rs.49/-
            will be applicable for the orders under 499/-. <br>2- We endeavor to deliver products purchased from Women’s Word in excellent condition and in the best possible time. <br>3-Our courier partners will be able to deliver the shipment
            to you between Monday through Saturday: 9am to 7pm. Working days exclude public holidays and Sundays. Delivery time is subject to factors beyond our control including unexpected travel delays from our courier partners and transporters due
            to weather conditions and strikes. <br>4-Address change will be accepted only if order has not been shipped. Address change is only possible if new location is within the same state. <br>5-As soon as your package ships, we will email you your
            package tracking information. <br>6-Any dispute between the Women’s World and the Service Provider shall be resolve by mutual discussions between the authorized signatories. If the dispute remains unresolved, the parties may refer such dispute
            to a court of law located within the jurisdiction of courts in Delhi only. <br>7-In case a customer returns an order after delivery, order shipping charges will not be refunded. However, if you self-ship your returns, only Rs 100 will be refunded
            for the same. <br>8-Order value is calculated after applying discounts/VAT/GST or any other applicable charges. <br> <br></p>
    </div>
    <div class="row">
        <h3>Cancellations</h3> <br>
    </div>
    <div class="row">
        <p>Cancellation requests will be accepted strictly within 24 hours of placing the order only.</p>
    </div>
</div>

<br> {% include "usa/footer.html" %}