{% include "usa/header.html" %}
<br>
<div>
    <div class="filter">
        <form method="POST">
            {% csrf_token %}
            <p>
                Short By:- <span><button name="aa" value="aa">Popularity</button>
                    <button name="ab" value="ab">Price -- Low to High</button>
                    <button name="ac" value="ac">Price -- High to Low</button>
                    <button name="ad" value="ad">Newest First</button>
            </span>
            </p>
        </form>
    </div>
</div>
<br>
<!--womens kurta collection in affordable price  start -->
<section class="product_trail">
    <br>
    <br>
    <h2 class="product-category_trail">womens Suit/Kurta Plazzo set collection in affordable price</h2>
    <br> {% for abc in dest1 %}
    <div class="product-container_trail">
        <div class="product-card_trail">
            <div class="product-image_trail">
                <span class="discount-tag_trail">{{abc.disscunt}}% off</span>
                <img href="#" src="{{abc.img.url}}" class="product-thumb_trail">
                <input type="text" id="product_id">
                <a href="/usa/product/{{abc.product_slug}}"><button class="card-bnt_trail">Get Details</button></a>
            </div>
            <div class="product-info_trail">
                <h2 class="product-brand_trail">{{abc.name}}</h2>
                <p class="product-short-des">{{abc.desc}}</p>
                <span class="price_trail">$ {{abc.sell_price_usa|floatformat:2}}</span> <span class="actual-price">$ {{abc.actual_price_usa|floatformat:2}}</span>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</section>
<br>
<br>
<div style="text-align: center;">
    <div class="pagination">
        {% if dest1.has_previous %}
        <a href="/usa/Suit_Kurta/?page={{dest1.previous_page_number}}">Previous</a> {% endif %}
        <a href="/usa/Suit_Kurta/?page=1">1</a>
        <a href="/usa/Suit_Kurta/?page=2">2</a>
        <a href="/usa/Suit_Kurta/?page=3">3</a> {% if dest1.has_next %}
        <a href="/usa/Suit_Kurta/?page={{dest1.next_page_number}}">Next</a> {% endif %}
    </div>
</div>
{% include "usa/footer.html" %}