{% include "india/header.html" %}
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h2>About Us</h2>
            </div>
            <div class="content">
                <p class="d-inline">If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Women's World is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including
                    clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight
                    out of fashion houses. You can shop online at Women's World from the comfort of your home and get your favourites delivered right to your doorstep..</p>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/sarita2812"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/womensworlddelhi/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="../../static/img1/one.jpg">
        </div>
    </div>
</div>
<br> {% include "india/footer.html" %}