{% include "india/header.html" %} <br>
<div class="container">

    <div class="row">
        <h3>Return Policy:</h3>
    </div>
    <div class="row">
        <p>
            In the odd case that you do not love your Women’s World products, here is our policy on returns: <br> <br>1- Eligible products can only be returned within 2 days after the delivery date. You can find the return policy of each product under
            the Shipping Info section of the product page. <br> <br>2- In the unlikely event that your merchandise arrives damaged, you should inform us with a opening video and a photo of the damaged product with the Price tag within 24 hours of receiving
            your order. <br><br>3-Not all products are eligible for returns. In order to maintain fairness to our craftsmen, as well as keep our prices fair, many items are "Final Sale." Please make it a point to understand which products are eligible
            for returns before purchasing. <br><br>4-The Women’s World Care team must receive and approve your return request. Once your request is received and approved, we will arrange for a return pick up at an agreed upon time. <br><br>5-Once your
            return has been authorized, we'd be happy to process your refund. You can choose to receive the refund in the form of credit points, which will reflect in your Women’s World account within 24 working hours from when the product is received
            by us. However, if you'd like to receive the amount back to the same payment mode that you used to place this order, we will initiate the refund after we receive the item and it has gone through the necessary quality checks. <br><br>6. If
            the item you returned is used, damaged or original tags are missing. In the event that the return request is declined, the user shall not be eligible for a refund, and Women’s World assumes no liability in this regard. For more details, please
            call our customer care. <br><br>7-We aim to process all returns within one (1) week. If you have any questions about your return, feel free to reach out to the Women’s World Care team at info@womensowrld.in <br><br>8-All returns are subject
            to the discretion of Women’s World. But we're a friendly bunch.
        </p>
    </div>
    <div class="row">
        <h3>Cancellation Policy:</h3>
    </div>
    <div class="row">
        <p>
             Cancellations within 24 hours will be accepted by Women’s World, by contacting the customer care team via call or email. <br><br> Product change will not be entertained after 24 hours from the time order was placed. <br><br> Any specially
            made product or custom designed product including Designer Products & Design It Yourself (DIY) products cannot be cancelled once an order is placed.
            <br><br> Cancellation within 24 hours can be reimbursed in the form of refund or gift card. <br><br> Customized products are not eligible for cancellations post 24 hours. <br><br>Customization charges are non-refundable for cancellation
            requests raised post 24 hours from the time of ordering. <br><br> Products ordered in Clearance sale are not eligible for cancellation. <br><br> Women’s World holds the right to intimate the customer in case of non-availability of any product
            from manufacturers end, and can take a product change request then, else cancel the product and issue Gift Card.
        </p>
    </div>
</div>

<br> {% include "india/footer.html" %}