{% include "india/header.html" %} <br>
<div class="container">

    <div class="row">
        <h3>International orders:</h3>
    </div>
    <div class="row">
        <h3>Customs and International Shipping</h3>
    </div>
    <div class="row">
        <h3>International Orders:</h3>
    </div>
    <div class="row">
        <p>
            All of Our orders are shipped internationally from our warehouses across India to your provided shipping address via DHL. Due to the nature of international shipping, occasionally a customer may have to pay additional import duties and taxes which are
            levied once a shipment reaches your country. The large majority of orders will not have to pay any additional fees. However, we are unable to calculate when and how much these infrequent customs duty charges will be levied. In the case where
            additional customs charges are assessed, you will be responsible for paying these additional fees. To make your shopping experience as seamless as possible, we have arranged with DHL to customs clear your goods for you and deliver them to
            your doorstep. If you are presented with an invoice from DHL for import duties and taxes, you will have to pay DHL directly at the time of delivery. <br><br> In case of customer refuses to pay the custom duty or any additional
            import duties, then customer would be liable to bear the shipping charges and amount would be refund after deducting the shipping charges for the particular shipment. <br><br> For more information about shipping and delivery, please see our
            Shipping FAQs.
        </p>
    </div>
    <div class="row">
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                /* border-collapse: collapse; */
                text-align-last: center;
                scroll-behavior: auto;
            }
        </style>
        <table style="width: 100%;">
            <colgroup>
                <col>
            </colgroup>
            <tr>
                <th>Shipping Destination</th>
                <th>Shipping Partner</th>
                <th>Dispatch Times</th>
                <th>Delivery Times</th>
                <th>Charges</th>

            </tr>
            <tr>
                <td>Within India </td>
                <td>Blue Dart</td>
                <td>24 Business Hours </td>
                <td>5-7 Business Days</td>
                <td>Free Shipping order above Rs: 799 and Rs: 99 will be applicable below Rs: 799</td>

            </tr>
            <tr>
                <td>International</td>
                <td>DHL</td>
                <td>24 Business Hours </td>
                <td>5-7 Business Days</td>
                <td>$20/per kg will be charged order below 5 kg. $15/per kg will be charged If the product weight is above 5 kg and below 10 kg. $10/per kg. will be charged all above 10 kg shipments.</td>

            </tr>
            <tr>
                <td>Australia </td>
                <td>DHL</td>
                <td>24 Business Hours </td>
                <td>5-7 Business Days</td>
                <td>Au$25/per kg will be charged order below 5 kg. Au$20/per kg will be charged If the product weight is above 5 kg and below 10 kg.Au$15/per kg. will be charged all above 10 kg shipments.</td>

            </tr>
            <tr>
                <td>Singapore</td>
                <td>DHL</td>
                <td>24 Business Hours </td>
                <td>5-7 Business Days</td>
                <td>S$20/per kg will be charged order below 5 kg. S$15/per kg will be charged If the product weight is above 5 kg and below 10 kg. S$10/per kg. will be charged all above 10 kg shipments.</td>

            </tr>
            <tr>
                <td>United kingdom</td>
                <td>DHL</td>
                <td>24 Business Hours </td>
                <td>5-7 Business Days</td>
                <td>&pound15/per kg will be charged order below 5 kg. &pound 12/per kg will be charged If the product weight is above 5 kg and below 10 kg. &pound 7/per kg. will be charged all above 10 kg shipments.</td>
            </tr>
        </table>
    </div>
</div>

<br> {% include "india/footer.html" %}