{% include 'india/header.html' %}
<div class="row" style="justify-content: center; margin: 30px 0px 20px 0px;">
    <div>
        <h3>Password Reset</h3>
        <br>
        <form action="" method="post">
            {% csrf_token %} {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small> {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button> {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %} {% endif %}
            </div>
        </form>
    </div>
</div>
<br> {% include 'india/footer.html' %}