{% include "india/header.html" %}
<div class="srh">
    {% if searched %}
    <h2>You Search For {{searched}}</h2>
</div>
{% for abc in result %}
<div class="product-container_trail">
    <div class="product-card_trail">
        <div class="product-image_trail">
            <span class="discount-tag_trail">{{abc.disscunt}}% off</span>
            <img href="#" src="{{abc.img.url}}" class="product-thumb_trail">
            <input type="text" id="product_id">
            <a href="/product/{{abc.product_slug}}"><button class="card-bnt_trail">Get Details</button></a>
        </div>
        <div class="product-info_trail">
            <h2 class="product-brand_trail">{{abc.name}}</h2>
            <p class="product-short-des">{{abc.desc}}</p>
            <span class="price_trail">Rs.{{abc.sell_price}}</span> <span class="actual-price"> Rs.{{abc.actual_price}}</span>
        </div>
    </div>
</div>
{% endfor %} {% else %}
<h2>Hey! You Forget Give Input in to The Search-Box </h2>
{% endif %} {% include "india/footer.html" %}