{% include "india/header.html" %} <br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>FAQ’S:</h2>
        </div>
    </div>
    <div class="row">
        <div class="row-d-flex flex-column">
            <h3>How do I place an order on Women’s World?:</h3>
        </div>
        <div class="row">
            <p>
                1-Select the size of the product you wish to buy. <br>2-Add the product to your shopping bag by clicking on "Add to Bag". <br>3-Go to your shopping bag and click on "Go to Checkout" <br>4-Provide your Shipping and Billing Address - Select
                the payment method by clicking on "Prepaid" or "Cash on Delivery <br>5-Confirm payment and your order will be placed
            </p>
        </div>
        <div class="row">
            <h3>Do I need to create an account to place an order?</h3>
        </div>
        <div class="row">
            <p>
                TNo, it's not necessary to create an account if you wish to place an order. You can simply provide your shipping and billing details, select the payment method and place an order.
            </p>
        </div>
        <div class="row">
            <h3>Why have I not received my order yet?</h3>
        </div>
        <div class="row">
            <p>
                In rare situations, orders may get delayed due to courier or shipment issues. We will keep you updated through calls or emails on the status of your orders. You can also call or email us to check on your orders.
            </p>
        </div>
        <div class="row">
            <h3>Do I need to pay any delivery or courier charges for my order?</h3>
        </div>
        <div class="row">
            <p>
                No, there is no courier or delivery charge applicable on orders above Rs; 799/- We have nominal charges for the shipping Rs: 99/- for orders below 799/-.
            </p>
        </div>
        <div class="row">
            <h3>How can I track my order?</h3>
        </div>
        <div class="row">
            <p>
                We will send you tracking details once your order is shipped from our warehouse. You can go to the courier partner's website and track your order with the AWB no
            </p>
        </div>
        <div class="row">
            <h3>How do I return my product?</h3>
        </div>
        <div class="row">
            <p>
                If you received any damaged product or fitting is not proper of product purchased by you, Please make a opening video and send us at our email or you can call us within 2 days of delivery and we will arrange a return for your orde
            </p>
        </div>
        <div class="row">
            <h3>How soon can I receive the refund of my order?</h3>
        </div>
        <div class="row">
            <p>
                We will initiate refund once your product returns to our warehouse and the quality check is done. It usually takes up to 4-5 business days for prepaid and 5-7 business days for COD order to reflect the amount to your bank account.
            </p>
        </div>
        <div class="row">
            <h3>How do I cancel my order?</h3>
        </div>
        <div class="row">
            <p>
                Just call or email us with the reason of cancellation and we will cancel the order for you. If your order has been already shipped then cancellation will not be possible.
            </p>
        </div>
        <div class="row">
            <h3>My order was COD, how will I get my refund amount?</h3>
        </div>
        <div class="row">
            <p>
                We will send you an email asking for your bank account details once we receive the product at our warehouse. You will receive the amount to your bank account within 5 to 7 business days once the refund is initiated.
            </p>
        </div>
        <div class="row">
            <h3>How can I figure out the correct size for me?</h3>
        </div>
        <div class="row">
            <p>
                You can refer to our size chart which is available on the product page.
            </p>
        </div>
        <div class="row">
            <h3>Size is not available now, how long do I need to wait?</h3>
        </div>
        <div class="row">
            <p>
                We cannot provide any specific timeline for the availability of the size. You can add the product to your wishlist by clicking on the button next to "Add to Bag". We will notify you whenever the size is available in future.
            </p>
        </div>
        <div class="row">
            <h3>How do I pay for my order?</h3>
        </div>
        <div class="row">
            <p>
                <br><br> There are multiples ways you can pay for your order <br><br>Cash On Delivery <br>Credit Card <br>Debit Card <br>Net Banking <br>UPI <br>Wallets like Paytm and Google pay
            </p>
        </div>
        <div class="row">
            <h3>Is it safe to place an order with my credit/debit card?</h3>
        </div>
        <div class="row">
            <p>
                Yes, all our payments are secured by Paytm. Any details provided by you during transaction are completely safe with us. Please refer to our Privacy Policy to know more.
            </p>
        </div>
        <div class="row">
            <h3>There was a payment failure while placing my order, what should I do?</h3>
        </div>
        <div class="row">
            <p>
                If the amount has been deducted from your back account then we would request you to wait for 24 hours as it's usually credited back to your account. If you do not receive the amount within 24 hours, call or email us with your bank account statement and
                we will help you further.
            </p>
        </div>
        <div class="row">
            <h3>Can I get my order delivered to multiple addresses?</h3>
        </div>
        <div class="row">
            <p>
                Your order can be delivered to only one address. If you wish to send products to several addresses, please place separate orders for each address.
            </p>
        </div>
        <div class="row">
            <h3>Do you ship internationally?</h3>
        </div>
        <div class="row">
            <p>
                <br><br> Yes, We ship Globally, but the shipping charges will be different.
            </p>
        </div>
        <div class="row">
            <h3>Delivery is not available on my address, what should I do?</h3>
        </div>
        <div class="row">
            <p>
                We would request you to check again after some days as we are trying to add more pin codes to our deliverable address list.
            </p>
        </div>
        <div class="row">
            <h3>How do I return my order?</h3>
        </div>
        <div class="row">
            <p>
                Normally we arrange a reverse pickup for every return. However at times we are unable to do so due to unavoidable issues. In that case, you can return your order through courier. Refundable amount for self-shipping is Rs 100 only.
            </p>
        </div>
        <div class="row">
            <h3>How can I purchase E-Vouchers?</h3>
        </div>
        <div class="row">
            <p>
                Go to womensworld.in or click here. Offer Vouchers can be purchased in prepaid mode only. Customers can use credit card/debit card/net banking to make payment. Cash on delivery option is not available for Offer vouchers
            </p>
        </div>
        <div class="row">
            <h3>I just received an E- Voucher. How do I use it?</h3>
        </div>
        <div class="row">
            <p>
                Go to www.womensworld.in to purchase. You can use them by placing orders by selecting Offer Vouchers options.
            </p>
        </div>
        <div class="row">
            <h3>What should I do if I have not received the e-mail that had E-Voucher details?</h3>
        </div>
        <div class="row">
            <p>
                The E-Voucher email & SMS is typically sent to the recipient within 24 hours of your purchase. If E- Voucher has not arrived within a reasonable time-frame please ensure that recipient checks e-mail'Spam/Junk' inbox before contacting customer support.
            </p>
        </div>
        <div class="row">
            <h3>Does E- Vouchers expire?</h3>
        </div>
        <div class="row">
            <p>
                Yes, E- Voucher expires in 365 days from the date of issue.
            </p>
        </div>
        <div class="row">
            <h3>When is the E- Voucher issued / sent to the recipient?</h3>
        </div>
        <div class="row">
            <p>
                The E-Voucher SMS/Email is typically sent to the recipient within 24 hours of your purchase. If E- Voucher has not arrived within a reasonable time-frame please ensure that recipient checks e-mail'Spam/Junk' inbox before contacting Customer Support Team.
            </p>
        </div>
        <div class="row">
            <h3>How do I cancel a E-Voucher?</h3>
        </div>
        <div class="row">
            <p>
                This E-Voucher cannot be cancelled, refunded, or returned.
            </p>
        </div>
        <div class="row">
            <h3>What happens if I need to return something I purchased with my EVoucher?</h3>
        </div>
        <div class="row">
            <p>
                In cases where the website order is cancelled/refunded, the E-Voucher shall be reissued to the customer. The E-Voucher amount shall not be refunded to the user.
            </p>
        </div>
        <div class="row">
            <h3>How many E-Vouchers can be used in one transaction?</h3>
        </div>
        <div class="row">
            <p>
                Only one E-Voucher can be used in a single transaction. Multiple E- Offer Vouchers cannot be clubbed in a single order.
            </p>
        </div>
        <div class="row">
            <h3>How many times E-Vouchers can be used?</h3>
        </div>
        <div class="row">
            <p>
                Each E-Voucher can be used in single transaction only. E-Voucher cannot be used partially in multiple transactions.
            </p>
        </div>
        <div class="row">
            <h3>What if I forget my password?</h3>
        </div>
        <div class="row">
            <p>
                Easy. Tap on the question mark icon in the Password field when you load the iPad application. If you have any trouble, please contact our customer care team.
            </p>
        </div>

    </div>
</div>

<br> {% include "india/footer.html" %}