{% include "india/header.html" %} <br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Terms of Use Agreement</h2>
        </div>
    </div>
    <div class="row">
        <div class="row-d-flex flex-column">
            <h3></h3>
        </div>
        <div class="row">
            <p>
                Welcome to website, the website and online service of Women’s World E Commerce Site ("Seller", "we", "our" or "us"). This page explains the terms by which you may use our online and/or mobile services, web site, and software provided on or in connection
                with Seller (collectively the "Service"). By accessing or using the Service, you agree that you have read, understood, and agree to be bound by these Terms of Use (the "Agreement"), whether or not you are a registered user of our Service.
            </p>
        </div>
        <div class="row">
            <h3>USE OF OUR SERVICE</h3>
        </div>
        <div class="row">
            <p>
                You may use the Service only if you can form a binding contract with Seller, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. If you are under 18, your parent or guardian
                must enter into this Agreement on your behalf, and will be responsible for your use of and access to the Service; this includes financial responsibility for any items you purchase through the Service. Any use or access to the Service by
                anyone under 13 is strictly prohibited and in violation of this Agreement. If you are under 13, please do not attempt to register for the Service or send any information about yourself to us, including your name, address, telephone number,
                or email address. If we learn that we have collected personal information from anyone under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any
                information from or about anyone under 13, please contact us at info@womensworld.in The Service is not available to any Users previously removed from the Service by Seller. Seller reserves all rights not expressly granted under this Agreement.
                Any attempt by you to transfer any of the rights, duties or obligations hereunder, except as expressly provided for in this Agreement, is void. <br>WWW.WOMENSWORLD.IN ACCOUNTS <br> The Service is available through Facebook’s
                “Facebook Connect” service. [You must have an active Facebook account in order to access the Service through Facebook Connect], and you hereby represent and warrant that you have read and agreed to be bound by all applicable Facebook policies
                and will act in accordance with those policies, in addition to your obligations under this Agreement. If you access the Service through Facebook Connect, Seller may require that your www.womensworld.in ID be the same as your user name/email
                ID for Facebook. If you sign into www.womensworld.in through Facebook Connect, you will provide your Facebook account information to Seller, and you are consenting to have the information in that account transmitted into your www.womensworld.in
                account, and you agree that you shall only use Facebook accounts owned by you, and not by any other person or entity. <br> <br>You agree not to engage in any of the following prohibited activities in connection with the Service: <br> (i)
                copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated "scraping"; <br> (ii) using any automated system, including without limitation "robots," "spiders,"
                "offline readers," etc., to access the Service in a manner that sends more request messages to the Seller servers than a human can reasonably produce in the same period of time by using a conventional on-line web browser (except that,
                subject to the privacy settings of our Users, Seller grants the operators of public search engines revocable permission to use spiders to copy materials from www.womensworld.in for the sole purpose of and solely to the extent necessary
                for creating publicly available searchable indices of the materials, but not caches or archives of such materials); <br> (iii) transmitting spam, chain letters, or other unsolicited email; <br>(iv) attempting to interfere with, compromise
                the system integrity or security or decipher any transmissions to or from the servers running the Service; <br>(v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on
                our infrastructure; <br>(vi) uploading invalid data, viruses, worms, or other software agents through the Service; <br>(vii) collecting or harvesting any personally identifiable information, including account names, from the Service; <br>(viii)
                using the Service for any commercial purposes;
                <br>(ix) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; <br>(x) interfering with the proper working of the Service; <br>(xi)
                accessing any content on the Service through any technology or means other than those provided or authorized by the Service; <br>(xii) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation
                features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein, <br>(xiii) decompiling, reverse engineering, or otherwise attempting to obtain the source code of the
                Service. <br>We may, without prior notice, change the Service, stop providing the Service or features of the Service (to you or generally), or create usage limits for the Service. We may permanently or temporarily terminate or suspend
                your access to the Service without notice or liability to Seller, for any reason or for no reason, including if in our sole determination you violate any provision of this Agreement. Upon termination of this Agreement or your access to
                the Service for any reason or no reason, you will continue to be bound by the terms of this Agreement which, by their nature, should survive termination, including without limitation ownership provisions, warranty disclaimers, indemnity,
                and limitations of liability.
            </p>
        </div>
        <div class="row">
            <h3>COPYRIGHT AND INTELLECTUAL PROPERTY</h3>
        </div>
        <div class="row">
            <p>
                All third party designs featured on www.womensworld.in are copyright and intellectual property of their respective designers and cannot be reproduced or transmitted in any form without the prior written permission of the designers
            </p>
        </div>
        <div class="row">
            <h3>USER CONTENT</h3>
        </div>
        <div class="row">
            <p>
                You agree not to post User Content that: <br>(i) may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal;
                <br>(ii) may create a risk of any other loss or damage to any person or property; <br> (iii) seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; <br>(iv)
                may constitute or contribute to a crime or tort; <br>(v) contains any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity
                rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, obscene, pornographic, or otherwise objectionable; <br>(vi) contains any information or content that is illegal (including, without
                limitation, the disclosure of insider information under securities law or of another party's trade secrets); <br>(vii) contains any information or content that you do not have a right to make available under any law or under contractual
                or fiduciary relationships; <br> (viii) contains any information or content that you know is not correct and current. You agree that any User Content that you post does not and will not violate third-party rights of any kind, including
                without limitation any Intellectual Property Rights (as defined below) or rights of privacy. To the extent that your User Content contains music, you hereby represent that you are the owner of or possess all rights to all the copyright
                rights, including without limitation the performance, mechanical, and sound recordings rights, with respect to each and every musical composition (including lyrics) and sound recording contained in such User Content and have the power
                to grant the license granted below. Seller reserves the right, but is not obligated, to reject and/or remove any User Content that Seller believes, in its sole discretion, violates these provisions. You understand that publishing your
                User Content on the Service is not a substitute for registering it with the U.S. Copyright Office, the Writer's Guild of America, or any other rights organization. <br>In connection with your User Content, you affirm, represent and warrant
                the following: <br>   You have the written consent of each and every identifiable natural person in the User Content to use such person's name or likeness in the manner contemplated by the Service and this Agreement, and each such person
                has released you from any liability that may arise in relation to such use. <br>  Seller may exercise the rights to your User Content that are granted to Seller under this Agreement, without payment of any guild fees, residuals, payments,
                fees, or royalties payable under any collective bargaining agreement or otherwise. By posting any User Content on the Service, you hereby expressly grant, and you represent and warrant that you have a right to grant, to Seller a royalty-free,
                sub licensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make
                derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection
                with the Service and Seller's (and its successors' and affiliates') business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any
                media channels; however, Seller will only share your personally identifiable information in accordance with our then-current Privacy Policy. You also hereby grant each User of the Service a non-exclusive license to access your User Content
                through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under this Agreement. <br>www.womenwworld.in SERVICE <br>We may make available software
                to access the Service via a mobile device ("Mobile Software"). To use the Mobile Software you must have a mobile device that is compatible with the Mobile Service. Seller does not warrant that the Mobile Software will be compatible with
                your mobile device. Seller hereby grants you a non-exclusive, non-transferable, revocable license to use a compiled code copy of the Mobile Software for one www.womensworld.in account on one mobile device owned or leased solely by you,
                for your personal, non-commercial use. You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile Software, except to the extent that such restriction is expressly prohibited by law; (ii) rent, lease, loan, resell,
                sublicense, distribute or otherwise transfer the Mobile Software to any third party or use the Mobile Software to provide time sharing or similar services for any third party; (iii) make any copies of the Mobile Software; (iv) remove,
                circumvent, disable, damage or otherwise interfere with security-related features of the Mobile Software, features that prevent or restrict use or copying of any content accessible through the Mobile Software, or features that enforce
                limitations on use of the Mobile Software; or (v) delete the copyright and/or other proprietary rights notices on the Mobile Software. You acknowledge that Seller may from time to time issue upgraded versions of the Mobile Software, and
                may automatically electronically upgrade the version of the Mobile Software that you are using on your mobile device. You consent to such automatic upgrading on your mobile device, and agree that the terms and conditions of this Agreement
                will apply to all such upgrades. Any third-party code that may be incorporated in the Mobile Software is covered by the applicable open source or third-party license EULA, if any, authorizing use of such code. The foregoing license grant
                is not a sale of the Mobile Software or any copy thereof, and Seller or its third party partners or suppliers retain all right, title, and interest in the Mobile Software (and any copy thereof). If the Mobile Software is being acquired
                on behalf of the United States Government, then the following provision applies. Use, duplication, or disclosure of the Mobile Software by the U.S. Government is subject to restrictions set forth in this Agreement and as provided in DFARS
                227.7202-1(a) and 227.7202-3(a) (1995), DFARS 252.227-7013(c)(1)(ii) (OCT 1988), FAR 12.212(a) (1995), FAR 52.227-19, or FAR 52.227-14 (ALT III), as applicable. The Mobile Software originates in the United States, and is subject to United
                States export laws and regulations. The Mobile Software may not be exported or re-exported to certain countries or those persons or entities prohibited from receiving exports from the United States. In addition, the Mobile Software may
                be subject to the import and export laws of other countries. You agree to comply with all Indian, United States and foreign laws related to use of the Mobile Software and the www.womensworld.in Service. MOBILE SOFTWARE FROM ITUNES
            </p>
        </div>
        <div class="row">
            <h3>OUR PROPRIETARY RIGHTS</h3>
        </div>
        <div class="row">
            <p>
                You may choose to or we may invite you to submit comments or ideas about the Service, including without limitation about how to improve the Service or our products ("Ideas"). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited
                and without restriction and will not place Seller under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise
                to anyone. You further acknowledge that, by acceptance of your submission, Seller does not waive any rights to use similar or related ideas previously known to Seller, or developed by its employees, or obtained from sources other than
                you. <br>Seller may provide www.womensworld.in members referral credits when members invite their friends to join www.womensworld.in (“Referral Credits”). Referral Credits may be awarded to the referrer when her friends
                join, as well as when her friends make their first purchases. <br>All credits, referral or otherwise can be used on a minimum shopping cart subtotal (pre shipping) amount of Rs: 500.
            </p>
        </div>
        <div class="row">
            <h3>BILLING POLICIES</h3>
        </div>
        <div class="row">
            <p>
                If you purchase an item through the Service, your purchase will be processed in accordance with the “Orders” section of our Help section, delivered to you according to our Shipping Policies, and, if applicable, returns will be handled in accordance with
                our Return Policy, all of which are incorporated herein by this reference. <br>REFUNDS <br>Refunds for returned purchases will be handled in accordance with our Return Policy. PAYMENT INFORMATION: TAXES
            </p>
        </div>
        <div class="row">
            <h3>PRIVACY</h3>
        </div>
        <div class="row">
            <p>
                Seller cares about the integrity and security of your personal information. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge
                that you provide your personal information at your own risk. <br>Since we respect artist and content owner rights, it is Seller's policy to respond to alleged infringement notices that comply with the Digital Millennium
                Copyright Act of 1998 ("DMCA"). <br> Identification of the copyrighted work that you claim has been infringed; <br> Information reasonably sufficient to permit Seller to contact you, such as your address, telephone number, and, e-mail
                address; <br> A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner. <br>Once proper, bona fide infringement notification
                is received by the Designated DMCA Agent listed below, it is our policy: <br>  To remove or disable access to the infringing material; <br> That repeat offenders will have the infringing material removed from the system and that we
                will terminate such content providers, member’s or user’s access to the Service. <br>If the content provider, member, or user believes that the material that was removed (or to which access was disabled) is not infringing, or the content
                provider, member or user believes that it has the right to post and use such material from the copyright owner, the copyright owner’s agent, or pursuant to the law, the content provider, member or user must send a counter-notice containing
                the following information to the Designated DMCA Agent listed below: <br> A physical or electronic signature of the content provider, member or user;<br> A statement that the content provider, member or user has a good faith belief that
                the material was removed or disabled as a result of mistake or misidentification of the material; <br>Email: info@womensworld.in <br>Please note that this procedure is exclusively for notifying Seller and its affiliates that your copyrighted
                material has been infringed. The preceding requirements are intended to comply with Seller's rights and obligations under the DMCA, including 17 U.S.C. §512(c), but do not constitute legal advice. It may be advisable to contact an attorney
                regarding your rights and obligations under the DMCA and other applicable laws. The Service may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled
                by Seller. Seller does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access a third party website from the Service, such as through Facebook Connect, you
                do so at your own risk, and you understand that this Agreement and Seller's Privacy Policy do not apply to your use of such sites. You expressly relieve Seller from any and all liability arising from your use of any third-party website,
                service, or content. Additionally, your dealings with or participation in promotions of advertisers found on the Service, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such
                advertisers. You agree that Seller shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers. <br>You agree to defend, indemnify and hold harmless Seller and its subsidiaries, agents, licensors,
                managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not
                limited to attorney's fees) arising from: (i) your use of and access to the Service, including any data or content transmitted or received by you; (ii) your violation of any term of this Agreement, including without limitation your breach
                of any of the representations and warranties you make in this Agreement; (iii) your violation of any third-party right, including without limitation any right of privacy or Intellectual Property Rights; (iv) your violation of any applicable
                law, rule or regulation; (v) any claim or damages that arise as a result of any of your User Content or any that is submitted via your account; or (vi) any other party's access and use of the Service with your username, password or other
                appropriate security code. <br> <b> THE SERVICE AND ANY PRODUCT OR SERVICE YOU PURCHASE THROUGH THE SERVICE (“PRODUCT”) ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. USE OF THE SERVICE IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED
                BY APPLICABLE LAW, THE SERVICE AND THE PRODUCTS ARE PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
                WITHOUT LIMITING THE FOREGOING, SELLER, ITS SUBSIDIARIES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE OR THE PRODUCTS WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE
                AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE
                OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.
            </p>
        </div>
        <div class="row">
            <h3>LIMITATION OF LIABILITY</h3>
        </div>
        <div class="row">
            <p>
                TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, SELLER ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AVAILABLE ON OR THROUGH THE SERVICE; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER,
                RESULTING FROM YOUR ACCESS TO OR USE OF OUR SERVICE OR ANY PRODUCT; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION STORED THEREIN; (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION
                TO OR FROM THE SERVICE; (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT
                OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICE;</b> AND/OR (VII) USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY. <br>The Service is controlled and
                operated from its facilities in India. Seller makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and
                are entirely responsible for compliance with all applicable United States and local laws and regulations, including but not limited to export and import regulations. You represent and warrant you are not located in a country embargoed
                by the United States or that has been designated by the United States government as a “terrorist-supporting” country, and that you are not a foreign person or entity blocked or denied by the United States government or otherwise listed
                on any United States government list of prohibited or restricted parties. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United States.
                This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Seller without restriction. <br> <br>GOVERNING LAW ARBITRATION <br>Seller may provide notifications, whether
                such notifications are required by law or are for marketing or other business related purposes, to you via email notice, written or hard copy notice, or through posting of such notice on our website, as determined by Seller in our sole
                discretion. Seller reserves the right to determine the form and means of providing notifications to our Users, provided that you may opt out of certain means of notification as described in this Agreement and our Privacy Policy. Seller
                is not responsible for any automatic filtering you or your network provider may apply to email notifications we send to the email address you provide us. We recommend that you add www.info@womensworld.in to your email address book to help
                ensure you receive email notifications from us. <br>This Agreement, together with any amendments and any additional agreements you may enter into with Seller in connection with the Service, shall constitute the entire agreement between
                you and Seller concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement,
                which shall remain in full force and effect. <br>No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Seller's failure to assert any right or provision under this Agreement
                shall not constitute a waiver of such right or provision. <br>Effective Date: [May 10th, 2022]
            </p>
        </div>













    </div>
</div>

<br> {% include "india/footer.html" %}