@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-radius: 4px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'cinzel', serif;
    background-color: rgb(224, 222, 218);
    z-index: -1;
    width: 100%;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.logo_img {
    position: absolute;
    top: 0px;
    left: 1px;
}

.logo-icon {
    color: rgb(245, 185, 111);
    z-index: -1;
    border-radius: 20px;
}

#rr {
    color: rgb(224, 51, 8);
    z-index: 1;
}

.header {
    width: 100%;
    height: 22vh;
    background: white;
    justify-content: left;
}

.header :hover {
    cursor: pointer;
    /* border-bottom: .1rem solid var(--main-color); */
}


/* Navbar container */

.offer {
    background-color: white;
}

.offer_text {
    font-size: 15px;
    margin-top: 1px;
}


/* Links inside the navbar */

.nav {
    margin-top: 55px;
    margin-left: 60px;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: rgb(224, 51, 8);
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1;
}


/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: #e62020;
    text-decoration: none;
}


/* Dropdown button */

.dropdown .dropbtn {
    border: none;
    /* border: 1px solid rgb(238, 108, 68); */
    position: relative;
    color: rgb(224, 51, 8);
    padding: 14px 8px;
    background-color: inherit;
    font: inherit;
    /* margin: 1px; */
    cursor: pointer;
    z-index: 5;
}

#user {
    padding: 8px 2px;
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    transition: ease-out;
    color: #125baf;
    transition: width .4s;
    border-bottom: .1rem solid rgb(74, 74, 223);
    z-index: 2;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 2;
}


/* search-box start */

.srh {
    margin: 30px;
    font-size: medium;
}

.nav-item {
    display: flex;
    position: absolute;
    right: 12%;
    top: 6%;
}

.search {
    position: relative;
    display: flex;
    margin-right: 180px;
}

.search-box {
    height: auto;
    width: 400px;
    padding: 10px;
    justify-content: end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #1b1b1b;
    outline: none;
}

.search-bnt {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    text-transform: capitalize;
    font-size: 15px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #b3b0b0;
}


/* search-box start */


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 2px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    border-radius: 4px;
    padding: 5px;
    font-style: normal;
    display: inline;
}


/* Style links inside the columns */

.column a {
    float: none;
    color: rgb(224, 51, 8);
    background-color: white;
    padding: 13px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    transition: ease-out 0.3s;
}

.column a :hover {
    border-radius: 0%;
    cursor: auto;
}

.abc {
    border-radius: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: center;
    flex-direction: column-reverse;
    font-style: italic;
    -ms-high-contrast-adjust: none;
}

nav ul li {
    display: inline-block;
    flex-direction: column-reverse;
}

.nav_img {
    color: rgb(241, 196, 69);
    position: absolute;
    left: 1px;
    top: 3.6%;
    border-radius: 20%;
    max-width: 10%;
    max-height: 10%;
}


/* header section end  */


/* slider-section-start */

#slider {
    position: relative;
    z-index: -1;
}

#slider img {
    height: auto;
    width: 70%;
    margin-left: 14%;
    margin-top: 15px;
    box-shadow: 2px 2px 10px 15px white;
    transition: 2s;
}

.user-interactions {
    display: flex;
    position: absolute;
    right: 6vw;
    top: 6.9%;
    transform: translateY(-50%);
    display: flex;
}

.cart {
    width: 12px;
    height: 10px;
    position: relative;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
}

.user {
    text-decoration: none;
    color: #e45b32;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    margin: 4px;
    padding: 2px;
}

.cart-item-count {
    color: #d5be8b;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -27px;
    left: -10px;
}


/* 
.cart-icon,
.user-icon {
    object-fit: cover;
} */


/* slider-section-end */


/* new-best-selling-start */

.product {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.product-category {
    padding: 0 5vw;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
    z-index: -2;
    text-transform: capitalize;
    font-family: 'cinzel', sans-serif;
}

.product-container {
    padding: 0 5vw;
    z-index: -1;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 280px;
    height: 550px;
    margin-left: 0px;
    margin-right: 10px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 402px;
    overflow: hidden;
    border-radius: 2px;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .product-thumb img {
    height: 350px;
} */

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-bnt {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: rgb(197, 197, 197);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-bnt {
    opacity: 1;
}

.card-btn:hover {
    background: #d1cbcb;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 1px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-des {
    width: 100%;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    overflow: hidden;
    color: rgb(17, 17, 17);
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    opacity: 0.5;
    color: rgb(245, 68, 68);
    font-size: 18px;
    text-decoration: line-through;
}


/* left-right-btn-start */

.pre-btn,
.nxt-btn {
    border: none;
    width: 4vw;
    height: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 90%); */
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}


/* left-right-btn-end */


/* <!--mid section start--> */

.mid-section {
    width: 100%;
    height: 800px;
    padding: 8px;
}

.section-item-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    margin-left: 0%;
}

.section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.section-info {
    width: 50%;
    height: 90%;
    background: #fff;
    display: block;
    margin-left: auto;
    margin-top: 30px;
    padding: 50px;
    text-align: center;
}

.title-mid {
    font-size: 40px;
    line-height: 70px;
    text-transform: capitalize;
    font-family: 'cinzel';
}

.title-mid span {
    color: #d5be8b;
    font-family: 'cinzel';
}

.info-mid {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 10px;
    padding: auto;
    height: auto;
    text-transform: capitalize;
    opacity: 0.7;
}

@media (max-width: 540px) {
    .section-info,
    .title-mid {
        margin-right: 0%;
        font-size: 25px;
        display: none;
    }
    .info-mid {
        font-size: x-small;
    }
}


/* <--mid section end--> */


/* image collage section start */


/* .image-mid-section {
    width: 100%;
    height: 600px;
    padding: 10px 5vw;
}

.image-collage {
    width: 100%;
    height: 100%;
    background: url(../static/img/bg-1.png);
    background-size: auto;
}

.image-collection {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    margin: auto;
}

.collage-img {
    position: absolute;
    object-fit: cover;
    transition: 0.5s;
} */


/* collection-start */

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: auto;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    display: inline;
    font-size: 40px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 5px;
}


/* contact-form-section-start */

.container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 5rem;
    background-color: rgb(211, 208, 208);
    overflow: hidden;
    display: flex;
    margin-left: 0%;
    align-items: center;
}


/* .form {
    width: 100%;
    max-width: 920px;
    background-color: rgb(209, 203, 203);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(2, 1fr);
} */

.contact-info {
    background-color: white;
}

.contact-form {
    background-color: #8d9492;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, rgb(209, 203, 203));
    position: absolute;
}

.citcle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.citcle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #8d9492;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}


/* form {
    padding: 3rem 3.5rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
} */

.title {
    color: #fff;
    font-weight: 1000;
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 2rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1rem;
    color: #fff;
    font-weight: 1500;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 28%;
    left: 20px;
    transform: rotateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 2;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: rotateY(0);
}

.btn {
    padding: 00.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    color: #8d9492;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1.8;
    border-radius: 15px;
    transition: 0.3s;
    margin: 0%;
    width: 85px;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    padding: 0 0.5rem;
    color: transparent;
    pointer-events: none;
    z-index: 1;
}

.input-container span::after,
.input-container span::before {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    top: 50%;
    background-color: #1abc9c;
    transform: translateY(-50%);
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}

.input-container.focus label {
    top: 0%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.9rem;
}

.input-container.focus span::before,
.input-container.focus span::before {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title {
    color: #8d9492;
}

.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
    font-size: 15px;
}

.information {
    display: flex;
    color: black;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.3rem;
}

.icon {
    width: 28px;
    margin-right: 00.7rem;
}

.social-media {
    padding: 2.5rem 0 0 0;
    font-size: 16px;
}

.social-media p {
    color: rgb(32, 32, 32);
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #8d9492, #8d9492);
    color: rgb(41, 39, 39);
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.5);
}

.contact-info::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #8d9492;
    border-radius: 50%;
    bottom: -77px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 490px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #585e5c, #585e5c);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: rgb(211, 208, 208);
    border-radius: 50%;
    top: valc(50% -180px);
    left: valc(50% -180px);
}

@media(max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }
    .contact-info::before {
        bottom: initial;
        top: -75px;
        right: auto;
        transform: scale(0.95);
    }
}


/* foooter-start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
    height: auto;
    margin-bottom: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 4px 0;
    border-radius: 5px;
}

.footer-col {
    width: 20%;
    padding: 0 1px;
}

.footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    padding: 2px;
    position: relative;
    margin-top: 10px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #f5eaed;
    height: 1px;
    box-sizing: border-box;
    width: 80px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 12px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    padding: 2px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.txt {
    display: flex;
    position: relative;
    text-transform: capitalize;
    font-size: 15.9px;
    font-weight: 500;
    color: #b2bdb5;
}

.tainer {
    width: 100%;
    height: 20px;
    font-size: 15px;
    color: #b2bdb5;
    display: inline;
    margin-bottom: -10%;
}

.copyright {
    display: block;
    align-items: center;
    margin-left: 35%;
}

#design {
    margin-left: 40%;
    padding: 8px;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: auto;
        margin-right: 0%;
    }
}


/* paginator design start */

.pagination {
    display: inline-block;
    margin-bottom: 30px;
}

.pagination a {
    text-align: center;
    color: black;
    float: left;
    padding: 8px 18px;
    font-size: 25px;
    text-decoration: none;
    transition: background-color .4s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: rgb(233, 50, 50);
}


/* paginator design end */